.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
  height: calc(100% - 8em);
  background-color: #ffeaea;
}

.list > div {
  margin-left: 2em;
}
