.item-powerpuff-card {
  position: relative;
}

.item-powerpuff-container {
  position: absolute;
  left: -1em;
}

.item-powerpuff-stylizer {
  transform: scale(.3);
  width: calc(20em / 2);
}

.item-button {
  cursor: pointer;
  color: #D27E7E;
  margin-left: .5em;
  -moz-user-select: none;
  user-select: none;
}

.item-button:hover {
  color: rgba(95, 197, 238, 0.8);
}

.item-button:active {
  color: #D27E7E;
}

.item-name {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  text-transform: uppercase;
  font-family: monospace;
  padding: .5em 1em;
  min-width: 50%;
}


