.item-container {
  border: 1em solid rgba(210, 126, 126, 0.5);
  border-style: double;
}

.item-powerpuff-card {
  position: relative;
}

.item-powerpuff-container {
  position: absolute;
  left: -1em;
  top: calc(2em + 0.6em * 2 + 2em)
}

.item-powerpuff-stylizer {
  transform: scale(.3);
  width: calc(20em / 2);
}

.item-name {
  margin-top: 1em;
  font-size: 2em;
  text-transform: uppercase;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.item-name__button {
  cursor: pointer;
  margin-top: .5em;
  background-color: #ffeaea;
  color: #D27E7E;
  border-radius: 100%;
  padding: .6em .7em;
  -moz-user-select: none;
  user-select: none;
}

.item-name__button:hover {
  background-color: rgba(95, 197, 238, 0.8);
  color: #ffffff;
}

.item-name__button:active {
  background-color: #ffeaea;
  color: #D27E7E;
}


